#first{
    height: 300px;
    width: 300px;
    background-color: goldenrod;
    border-radius: 50%;
}
#left,#right{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

#left{
    left: 60px;
    top: 50px;    
}


#right {
    left: 180px;
    top: 50px;
} 

#three{
    height: 50px;
    width: 150px;
    background-color: brown;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 200px;
    left: 75px; 
 
} 